<h1>Handles</h1>
<hr />
<div class="form-constrols row">

</div>
<div class="row">
  <div class="col-md-1 col-md-offset-11" style="text-align: right;">
    <div class="form-group">
      <label for="pagesize">Pagesize:</label>
      <select class="form-control" id="pagesize" ([ngModel])="handlesService.findParam('pagesize').value" (change)="pageSizeChange($event)">
        <option [selected]="handlesService.findParam('pagesize').value == '1'" [value]="1">1</option>
        <option [selected]="handlesService.findParam('pagesize').value == '5'" [value]="5">5</option>
        <option [selected]="handlesService.findParam('pagesize').value == '10'" [value]="10">10</option>
        <option [selected]="handlesService.findParam('pagesize').value == '20'" [value]="20">20</option>
        <option [selected]="handlesService.findParam('pagesize').value == '50'" [value]="50">50</option>
        <option [selected]="handlesService.findParam('pagesize').value == '100'" [value]="100">100</option>
      </select>
    </div>
  </div>
</div>
<div class="users-table table">
  <kendo-grid
          [data]="gridView"
          [pageSize]="handlesService.findParam('pagesize').value"
          [skip]="skip"
          [sortable]="true"
          [pageable]="true"
          [scrollable]="'none'"
          (pageChange)="pageChange($event)"
  >
    <kendo-grid-column field="userid" [sortable]="false" class="td-with-icon">
      <ng-template kendoGridCellTemplate let-dataItem>
        {{ dataItem.userid }}<span class="k-icon filter-icon icon-in-field" [ngClass]="{'k-i-filter': userParams.searchUser !== dataItem.userid, 'k-i-filter-clear': userParams.searchUser === dataItem.userid}" (click)="userParams.updateParam('user', dataItem.userid)"></span>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="handleType" [sortable]="false"></kendo-grid-column>
    <kendo-grid-column field="handleCause" [sortable]="false"></kendo-grid-column>
    <kendo-grid-column field="sourceType" [sortable]="false"></kendo-grid-column>
    <kendo-grid-column field="sourceId" [sortable]="false" class="td-with-icon">
      <ng-template kendoGridCellTemplate let-dataItem>
        {{ dataItem.sourceId }}<span *ngIf="dataItem.sourceType === 'fragment'" class="k-icon filter-icon icon-in-field" [ngClass]="{'k-i-filter': userParams.searchFragment !== dataItem.sourceId, 'k-i-filter-clear': userParams.searchFragment === dataItem.sourceId}" (click)="userParams.updateParam('fragment', dataItem.sourceId)"></span>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="text" [sortable]="false"></kendo-grid-column>
    <kendo-grid-column><ng-template kendoGridCellTemplate let-dataItem><div class="edit-icons"><a *ngIf="userParams.isModerator() || userParams.isAdmin()" href="javascript:void(0)"><span class="k-icon k-i-edit" (click)="showFeedbackForm(dataItem)"></span></a></div></ng-template></kendo-grid-column>
  </kendo-grid>
</div>
<div class="feedback-form" id="feedback-form">
  <div class="k-icon k-i-close close-modal" (click)="closeFeedbackForm();"></div>
  <div>
    <label for="users-handle-text">User's handle text:</label>
    <textarea id="users-handle-text" data-userid="" data-handleid="" disabled></textarea>
  </div>
  <hr />
  <div>
    <label for="feedback">Enter feedback:</label>
    <textarea id="feedback"></textarea>
  </div>
  <div style="margin-top: 20px;">
    <label></label>
    <button class="btn btn-success" data-userid="" data-handleid="" id="feedback-send-button" (click)="sendFeedback($event)">Send feedback</button>
  </div>
  <div style="margin-top: 20px;">
    <label></label>
    <p id="send-success" style="display: none; color: green; font-size: 18px;">Feedback successfully sent!</p>
  </div>
</div>