<div class="logged-user-name">
  <p>{{ userParamsService.userName }} ({{ userParamsService.getAccessLevel() }})</p>
  <a href="javascript:void(0)" (click)="logout()">Logout <span class="k-icon k-i-logout"></span></a>
</div>
<div class="navigation-link">
  <div class="main-menu-title">Navigation</div>
  <ul>
    <li><a routerLink="/users" routerLinkActive="active">Users</a></li>
    <li><a routerLink="/fragments" routerLinkActive="active">Fragments</a></li>
    <li><a routerLink="/tags" routerLinkActive="active">Tags</a></li>
    <li><a routerLink="/splices" routerLinkActive="active">Splices</a></li>
    <li><a routerLink="/handles" routerLinkActive="active">Handles</a></li>
    <li><a routerLink="/ratings" routerLinkActive="active">Ratings</a></li>
  </ul>
</div>
<div class="global-filters">
  <div class="main-menu-title">Global filters</div>
  <ul>
    <li>User: <span [ngClass]="({'with-param': userParamsService.searchUser})">{{ userParamsService.searchUser ? userParamsService.searchUser : 'none' }}</span><span *ngIf="userParamsService.searchUser" class="k-icon k-i-close-circle" (click)="userParamsService.clear();"></span></li>
    <li>Fragment: <span [ngClass]="({'with-param': userParamsService.searchFragment})">{{ userParamsService.searchFragment ? userParamsService.searchFragment : 'none' }}</span><span *ngIf="userParamsService.searchFragment" class="k-icon k-i-close-circle" (click)="userParamsService.clear();"></span></li>
    <li>Tag: <span [ngClass]="({'with-param': userParamsService.searchTag})">{{ userParamsService.searchTag ? userParamsService.searchTag : 'none' }}</span><span *ngIf="userParamsService.searchTag" class="k-icon k-i-close-circle" (click)="userParamsService.clear()"></span></li>
    <li>Splice: <span [ngClass]="({'with-param': userParamsService.searchSplice})">{{ userParamsService.searchSplice ? userParamsService.searchSplice : 'none' }}</span><span *ngIf="userParamsService.searchSplice" class="k-icon k-i-close-circle" (click)="userParamsService.clear();"></span></li>
  </ul>
</div>
<div class="navigation-link" *ngIf="userParamsService.isAdmin()">
  <div class="main-menu-title">Tools</div>
  <ul>
    <li><a routerLink="/register-user" routerLinkActive="active">Register users</a></li>
    <li><a routerLink="/upload" routerLinkActive="active">Upload</a></li>
  </ul>
</div>